HF_ENDPOINT=https://hf-mirror.com

# OpenAI-compatible image captioning API (Qwen/OpenAI/Azure etc)
API_KEY=
BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MODEL=qwen-vl-max

DB_HOST="127.0.0.1"
DB_PORT="2881"
DB_USER="root@test"
DB_NAME="test"
DB_PASSWORD=""

UI_LANG="zh"